* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin : 15px;
  text-align:center;
  font-family: "Georgia", serif;
  font-size: 22px;
  background-color: #fbeaea; 
  color: #3f0202;
  min-height: 100vh;
}

.letter-container {
  float : left;
  height: 65%;
  width: 35%;
  margin-top: 40px;
  margin-left: 50px;
  text-align: center;
}

.letter-container h1 {
  font-size: 22px;
  text-align: center;
  color: #b23a48;
  letter-spacing: 1px;
}

.letter-content {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: auto;
  height: 90%;

  background-color: rgb(252, 129, 129);
  border:3px solid #b23a48;
  border-radius: 10px;

  margin-top: 10px;
  padding: 10px;
}

#words {
  transition: opacity 0.5s ease-in-out;

  font-family: Georgia, "Times New Roman", serif;
  font-size: 22px;

  line-height: 1.4;

  text-align: justify;

  color: #3f0202;
}

.pictures {
  position: relative;
  float: right;
  margin-top: 100px;
  margin-right: 50px;
  width: 50%;
  padding: 40px;
  background-color: #9b4848;
  border-radius: 20px;
}

.pin-design {
  position: absolute;
  top: -60px;
  rotate: calc(30deg);
  right: -30px;
  width: 100px;
  object-fit: cover;
  margin-top: 20px;
  height: auto;
  z-index: 10;
}

.polaroid {
  background-color:white;
  min-height:200px;
  min-width:150px;
  max-height:300px;
  max-width:200px;
  width: 10%;
  height: 20%;
  margin-top: 20px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.7);
}

.polaroid-img {
  margin-top: 5%;
  
  width: 85%;
  height: 70%
}

.polaroid-text {
  text-align: center;
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: .8rem;
  margin-top:.4rem;
  padding: .2rem;
}