* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin : 15px;
  text-align:center;
  font-family: "Georgia", serif;
  font-size: 22px;
  background-color: #fbeaea; 
  color: #3f0202;
  min-height: 100vh;
}

.letter-container {
  float : left;

  height: 80%;
  width: 35%;

  margin-top: 40px;
  margin-left: 80px;

  text-align: center;
}

.letter-container h1 {
  font-size: 22px;
  text-align: center;
  color: #b23a48;
  letter-spacing: 1px;
}

.letter-content {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: auto;
  height: 90%;

  background-color: rgb(252, 129, 129);
  border:3px solid #b23a48;
  border-radius: 10px;

  margin-top: 10px;
  padding: 10px;
}

#words {
  transition: opacity 0.5s ease-in-out;

  font-family: Georgia, "Times New Roman", serif;
  font-size: 1.25rem;

  line-height: 1.4;

  text-align: justify;

  color: #3f0202;
}

.Buttons{
 display:flex;
 justify-content: center;

 margin-top:10px;

 gap: 15px;

}

.DirectionButtons{
  background-color:#b23a48;

  color:rgb(252, 129, 129);

  border:2px solid rgb(252, 129, 129);
  border-radius: 5px;

  width: 150px;

  padding: 5px;
}

.DirectionButtons span{
  position:relative;

  font-size:1rem;
  font-family:'Times New Roman', Times, serif;

  transition : 0.5s;
}

.DirectionButtons:hover{
  background-color:rgb(252, 129, 129);

  color:#b23a48;

  cursor:pointer;

  border:2px solid #b23a48;

}

#next-button span:after{
  position: absolute;
  content: '\2764\FE0F';
  opacity: 0;
  right: 2px;
  transition: 0.5s;
}

#next-button:hover span{
  padding-right:20px;
}

#next-button:hover span:after{
  opacity: 1;
}

#prev-button span:before{
  position: absolute;
  content: '\2764\FE0F';
  opacity: 0;
  left: 2px;
  transition: 0.5s;
}

#prev-button:hover span{
  padding-left:20px;
}

#prev-button:hover span:before{
  opacity: 1;
}

.pictures-container {
  display: flex;
  margin-left: auto;
  margin-right: 80px;
  margin-top: 40px;
  flex-wrap: wrap;

  justify-content: center;
  gap: 30px;
  align-items: center;

  width: 45%;
  height: 80%;
  padding: 20px;

  background-color:#b23a48;
  border:none;
  border-radius:10px;

}

.pin-design {
 position: absolute;
  top: 100px;
  right: 50px;

  width: 100px;
  object-fit: cover;

  transform: rotate(30deg);
}

.polaroid {
  background-color: white;
  width: 140px;
  height: 200px;
  padding: 5px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.7);
  margin: 20px;
  text-align: center;
  overflow: hidden;      
}

.polaroid-img {
  margin-top: 5%;
  
  width: 85%;
  height: 70%
}

.polaroid-text {
  text-align: center;
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: .8rem;
  margin-top:.4rem;
  padding: .2rem;
}